*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(93, 93, 190);
}
.input-section{
    padding: 1.5rem;
    align-items: center;
    color: white;
    position: sticky;
    top: 0px;
    background-color: rgb(93, 93, 190);
    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);

}
.main-heading {
    text-align: center;
    font-family: sans-serif;
}
.main-heading h1 {
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.form{
    margin-top: 1.5rem;
    display: flex;
    gap: 2rem;
     justify-content: center;
}
.search-bar{
    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
    height: 50px;
    width: 50%;
    font-size: 15px;
    padding: 10px;
    border: transparent;
    border-radius: 10px;

}
.search-btn{
    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
    width: 10%;
    height: 50px;
    border: transparent;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.result{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;
    margin-top: 2rem;
    /* background-color: rgb(90, 179, 175); */
}
.parent{
    border-radius: 10px;
    background-color: #e5e5f3;
    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 17px;
    width: 15%;
    height: 150px;
}
.parent:hover{
    transition: transform 0.4s ease;
    transform:scale(1.1);
    cursor: pointer;
}
.emoji{
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: 5px;
}
.alias{
    font-size: 14px;
    font-family: cursive;
    font-weight: bold;
    padding: 10px;
}
.description{
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: sans-serif;
    color: rgb(117, 216, 216);
}

