* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: cursive;
    background: rgb(2,0,36);
     background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;

}
.main-heading{
  text-align: center;
  padding: 12px;
  color: #ffff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
#notes{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    width: 90%;
    margin: 2rem auto;  
}
.left{
    border-radius: 5px;
    padding: 2rem;
    width: 50%;
    height: 440px;
    background-color: rgb(151, 220, 231);
    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
}
.left textarea{
    border-radius: 5px;
    border: transparent;
    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
    padding: 1.5rem;
}
.right{
    padding: 2rem;
    width: 50%;
    height: 440px;
    color: #ffff;
    background-color: rgb(65, 133, 133);
    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;

}
.right h2{
    text-align: center;
}
.left textarea  {
    width: 400px;
    margin-bottom: 1rem;
    font-family: cursive;
}
.button button{
    width: 400px; 
    height: 30px;
    background-color: black;
    color: white;
    border: transparent;
    font-family: cursive;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
    cursor: pointer;
}
.button button:hover{
    background-color: rgb(38, 38, 42);
    transition: .2s ease;
}
.color-styling{
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
}
.right .note{
    position: relative;
    padding: 5px;
    border: transparent;    box-shadow: 2px 2px 3px 4px rgba(0,0,0,0.5);
}
.right  .close{
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    display: flex;
}
.close{
    color: #fff;
    padding-left: 20px;
}
.close:hover{
    color: rgb(51, 48, 48);
}
.all-notes{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
    width: fit-content;
}
.note{
    min-width: 130px;
    height: 100px;
    border-radius: 5px;
}
.note:hover{
    transition: transform 0.3s ease;
    transform:scale(1.1);
}
