* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
}
body{
    width: 100%;
    background-image: url(./Netflix-Background.jpg);
    
}
.maindiv{
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* :::::::::::::::::::main section :::::::::::::: */
header{
    width: 90%;
    margin-left: 5%;
    padding: 20px;
}
nav{
    width: 100%;
    display: flex;
}
.navleft{
    width: 50%;

}
.navright{
    width: 50%;
    
}
.navleft img{
    width: 40%;

}
.navright button{
    position: relative;
    left: 65%;
    top: 5%;
    background-color: red;
    border: solid red;
    color: #fff;
    padding:10px;
    height: 40px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.maincontent{
    margin-top: 15%;
    position: relative;
    color: #fff;
}

.main-heading{
    margin-left: 20%;
    font-size: 45px;
}
.para {
    margin-top: 20px;
}
.para1{
    font-size:22px;
    margin-left: 35%;
}
.para2{
    font-size:22px;
    margin-top: 15px;
    margin-left: 25%;
}



